h1 {
    font-family: 'Anton', Impact, Arial, sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: whitesmoke;
    text-shadow: 2px 2px 0 #000;


}

.search {
    text-align: right;
    margin-right: 50px;
    margin-left: 690px;

    font-family: Verdana;
    font-weight: 600;
    color: #7678ed;
    text-shadow: 1px 1px 0 black;


}

.background {
    background-image: url('../Images/mwbackground.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    height: 100vh;

    margin: 0;

    overflow: auto;



}

input[type="text"] {
    background-color: #90e0ef;

    color: #000;

    border: 1px solid #03045e;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
    margin: 0;

}

a p {
    color: whitesmoke;
    text-shadow: 2px 2px 0 #000;
    text-transform: uppercase;
    font-family: 'Inter var', sans-serif;
    font-size: large;
    font-weight: 700;

}


.battleship,
.crusier {
    flex-basis: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.row1,
.row2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;








}

/* --------------------------------------------------- */

#five {
    width: 220px;
    height: auto;
    margin: 20px 5px 0px 5px;



    box-shadow: 0px 0px 10px 5px #9381ff;

    box-sizing: border-box;

    transition: all 0.25s;

}

.battleship a img#five:hover,
.crusier a img#five:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 10px #9381ff;

}

.battleship p#five,
.crusier p#five {
    box-shadow: none;
    text-shadow: 1px -1px 3px black;
    color: #9381ff;
}

/* --------------------------------------------------- */


#four {
    width: 220px;
    height: auto;
    margin: 20px 5px 0px 5px;

    box-shadow: 0px 0px 10px 5px #a7c957;
    box-sizing: border-box;
    transition: all 0.25s;
}

.battleship a img#four:hover,
.crusier a img#four:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 10px #a7c957;
}

.battleship p#four,
.crusier p#four {
    box-shadow: none;
    text-shadow: 1px -1px 3px black;

    color: #a7c957;
}

/* --------------------------------------------------- */

#three {
    width: 220px;
    height: auto;
    margin: 20px 5px 0px 5px;
    box-shadow: 0px 0px 10px 5px #ffd60a;
    box-sizing: border-box;
    transition: all 0.25s;
}

.battleship a img#three:hover,
.crusier a img#three:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 10px #ffd60a;
}

.battleship p#three,
.crusier p#three {
    box-shadow: none;
    text-shadow: 1px -1px 3px black;
    color: #ffd60a;
}

/* --------------------------------------------------- */

#two {
    width: 220px;
    height: auto;
    margin: 20px 5px 0px 5px;
    box-shadow: 0px 0px 10px 5px #f35b04;
    box-sizing: border-box;
    transition: all 0.25s;
}

.battleship a img#two:hover,
.crusier a img#two:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 10px #f35b04;
}

.battleship p#two,
.crusier p#two {
    box-shadow: none;
    text-shadow: 1px -1px 3px black;
    color: #f35b04;
}

/* --------------------------------------------------- */

#one {
    width: 220px;
    height: auto;
    margin: 20px 5px 0px 5px;
    box-shadow: 0px 0px 10px 5px #bf0603;
    box-sizing: border-box;
    transition: all 0.25s;
}

.ship a img#one:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 10px #bf0603;
}

.ship p#one {
    box-shadow: none;
    text-shadow: 1px -1px 3px black;
    color: #bf0603;
}

/* --------------------------------------------------- */

p {
    color: whitesmoke;
    text-shadow: 2px 2px 0 #000;
    text-transform: uppercase;
    font-family: 'Inter var', sans-serif;
    font-size: large;
    font-weight: 700;
    text-align: center;

    align-items: center;
    margin-bottom: 0px;

}

.ship {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

hr {
    margin: 0px;
    margin-top: 10px;
}



#name {
    margin-top: 10px;

}
